:root {
  --background-color: #ffffff;
  --border-color: #000000;
  --text-color: #8e1414;
  --text-shadow: 0px 4px 4px #00000040;
  --text-family: "Inter-Regular", Helvetica;
  --text-weight: 400;
  --text-size-large: 36px;
  --text-size-medium: 24px;
  --text-size-small: 24px;
  --rectangle-height: 40px;
  --rectangle-width: 252px;
  --rectangle-top: 424px;
  --rectangle-left: 220px;
  --rectangle-background: #d9d9d9;
  --rectangle-border: 3px solid #000000;
  --overlap-group-width: 559px;
  --overlap-group-height: 734px;
  --overlap-group-left: -42px;
  --ellipse-width: 144px;
  --ellipse-height: 143px;
  --ellipse-top: 51px;
  --ellipse-left: 457px;
}

.android-large {
  --rectangle-top-2: 494px;
  --rectangle-top-3: 349px;
  --text-top-1: 21px;
  --text-top-2: 428px;
  --text-top-3: 499px;
  --text-top-4: 587px;
  --text-left-1: 3px;
  --text-left-2: 73px;
  --text-left-3: 269px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
}

.android-large .overlap-group-wrapper {
  background-color: var(--background-color);
  overflow: hidden;
  width: var(--overlap-group-width);
  height: var(--overlap-group-height);
  position: relative;
  left: var(--overlap-group-left);
}

.android-large .overlap-group(
  width: calc(var(--overlap-group-width) + var(--overlap-group-left));
  height: var(--overlap-group-height);
}

.android-large .lcci-background(
  width: var(--overlap-group-width);
  height: var(--overlap-group-height);
  top: 0;
  left: var(--overlap-group-left);
  mix-blend-mode: darken;
  object-fit: cover;
  position: absolute;
}

.android-large .ellipse(
  width: var(--ellipse-width);
  height: var(--ellipse-height);
  top: var(--ellipse-top);
